<h1>Write down your comments for <%= @restaurant[:name] %></h1>

<form action="/restaurants/<%= @restaurant[:id] %>/comments/create" method="POST">
  <div class="form-group">
    <label>Will you recommend this restaurant to others?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>